In [1]:
import pandas as pd

In [7]:
train = pd.read_excel("/content/Train.xlsx")
test = pd.read_excel("/content/Test.xlsx")

In [8]:
train.head(5)

                                        Title  ...   Price
0         The Prisoner's Gold (The Hunters 3)  ...  220.00
1          Guru Dutt: A Tragedy in Three Acts  ...  202.93
2                Leviathan (Penguin Classics)  ...  299.00
3          A Pocket Full of Rye (Miss Marple)  ...  180.00
4  LIFE 70 Years of Extraordinary Photography  ...  965.62

[5 rows x 9 columns]

In [9]:
print(train.columns)

Index(['Title', 'Author', 'Edition', 'Reviews', 'Ratings', 'Synopsis', 'Genre',
       'BookCategory', 'Price'],
      dtype='object')

In [10]:


train = train[['Title', 'Author', 'Edition', 'Reviews', 'Ratings','Genre',
               'BookCategory', 'Price']]

test = test[['Title', 'Author', 'Edition', 'Reviews', 'Ratings','Genre',
               'BookCategory']]

In [11]:
train.head()

                                        Title  ...   Price
0         The Prisoner's Gold (The Hunters 3)  ...  220.00
1          Guru Dutt: A Tragedy in Three Acts  ...  202.93
2                Leviathan (Penguin Classics)  ...  299.00
3          A Pocket Full of Rye (Miss Marple)  ...  180.00
4  LIFE 70 Years of Extraordinary Photography  ...  965.62

[5 rows x 8 columns]

In [12]:
train.isnull().sum()

Title           0
Author          0
Edition         0
Reviews         0
Ratings         0
Genre           0
BookCategory    0
Price           0
dtype: int64

In [13]:


def split_edition(data):  
  
  edition  = list(data)
  
  ed_type = [i.split(",– ")[0].strip().upper() for i in edition]
  
  edit_date = [i.split(",– ")[1].strip() for i in edition]
  
  m_y = [i.split()[-2:] for i in edit_date]
  
  
  for i in range(len(m_y)):
    if len(m_y[i]) == 1:
      m_y[i].insert(0,'NA')
      
 
  
  months =  ['Apr','Aug','Dec','Feb', 'Jan', 'Jul','Jun','Mar','May','NA','Nov','Oct','Sep']
  
  ed_month = [m_y[i][0].upper() if m_y[i][0] in months else 'NA' for i in range(len(m_y))]
  ed_year = [int(m_y[i][1].strip()) if m_y[i][1].isdigit() else 0 for i in range(len(m_y))]
  
  return ed_type, ed_month, ed_year

In [14]:

authors_1 = list(train['Author'])
authors_2 = list(test['Author'])

authors_1.extend(authors_2)

authorslis = [i.split(",") for i in authors_1]

max = 1
for i in authorslis:
  if len(i) >= max:
    max = len(i)
print("Max. number of authors for a single boook = ",max)

for i in range(len(authorslis)):
  if len(authorslis[i]) == max:
    print(i)    
    
all_authors = [author.strip().upper() for listin in authorslis for author in listin]

Max. number of authors for a single boook =  7
7008

In [15]:

def split_authors(data):
  
  authors = list(data)
  
  A1 = []
  A2 = []
  A3 = []
  A4 = []
  A5 = []
  A6 = []
  A7 = []
  for i in authors:
    
    try :
      A1.append(i.split(',')[0].strip().upper())
    except :
      A1.append('NONE')
      
    try :
      A2.append(i.split(',')[1].strip().upper())
    except :
      A2.append('NONE')
        
    try :
      A3.append(i.split(',')[2].strip().upper())
    except :
      A3.append('NONE')
        
    try :
      A4.append(i.split(',')[3].strip().upper())
    except :
      A4.append('NONE')
        
    try :
      A5.append(i.split(',')[4].strip().upper())
    except :
      A5.append('NONE')
      
    try :
      A6.append(i.split(',')[5].strip().upper())
    except :
      A6.append('NONE')
     
    try :
      A7.append(i.split(',')[6].strip().upper())
    except :
      A7.append('NONE')

      
  return A1,A2,A3,A4,A5,A6,A7
  
all_authors.append('NONE')

In [16]:


genre_1 = list(train['Genre'])
genre_2 = list(test['Genre'])

genre_1.extend(genre_2)

genre_lis = [i.split(",") for i in genre_1]


max = 1
for i in genre_lis:
  if len(i) >= max:
    max = len(i)
print("Max. number of genres for a single boook = ",max)
      
all_genres = [genre.strip().upper() for listin in genre_lis for genre in listin]

Max. number of genres for a single boook =  2

In [17]:


def split_genres(data):
  
  genres = list(data)
  
  G1 = []
  G2 = []
  
  for i in genres:
    
    try :
      G1.append(i.split(',')[0].strip().upper())
      
    except :
      G1.append('NONE')
      
    try :
      G2.append(i.split(',')[1].strip().upper())
    except :
      G2.append('NONE')


      
  return G1,G2
  
all_genres.append('NONE')

In [18]:


cat_1 = list(train['BookCategory'])
cat_2 = list(test['BookCategory'])

cat_1.extend(cat_2)

cat_lis = [i.split(",") for i in cat_1]


max = 1
for i in cat_lis:
  if len(i) >= max:
    max = len(i)
print("Max. number of Categories for a single boook = ",max)

all_categories = [cat.strip().upper() for listin in cat_lis for cat in listin]

Max. number of Categories for a single boook =  2

In [19]:


def split_categories(data):
  
  cat = list(data)
  
  C1 = []
  C2 = []

  for i in cat:
    
    try :
      C1.append(i.split(',')[0].strip().upper())
    except :
      C1.append('NONE')
      
    try :
      C2.append(i.split(',')[1].strip().upper())
    except :
      C2.append('NONE')


      
  return C1,C2
  
all_categories.append('NONE')

In [20]:


import re

def restructure(data):
  
  
  titles = list(data['Title'])
  titles = [title.strip().upper() for title in titles]
  
  a1,a2,a3,a4,a5,a6,a7 = split_authors(data['Author']) 
  
  ed_type, ed_month, ed_year = split_edition(data['Edition'])
 
  ratings = list(data['Reviews'])
  ratings = [float(re.sub(" out of 5 stars", "", i).strip()) for i in ratings]
  
  reviews = list(data['Ratings'])
  plu = ' customer reviews'
  reviews = [re.sub(" customer reviews", "", i) if plu in i else re.sub(" customer review", "", i) for i in reviews  ]
  reviews = [int(re.sub(",", "", i).strip()) for i in reviews ]
  


  g1, g2 = split_genres(data['Genre'])
  
  
  c1,c2 = split_categories(data['BookCategory'])

  structured_data = pd.DataFrame({'Title': titles,
                                  'Author1': a1,
                                  'Author2': a2,
                                  'Author3': a3,
                                  'Author4': a4,
                                  'Author5': a5,
                                  'Author6': a6,
                                  'Author7': a7,
                                  'Edition_Type': ed_type,
                                  'Edition_Month': ed_month,
                                  'Edition_Year': ed_year,
                                  'Ratings': ratings,
                                  'Reviews': reviews,
                                  'Genre1': g1,
                                  'Genre2': g2,
                                  'Category1': c1,
                                  'Category2': c2
                                  
                               })
  
  return structured_data

In [21]:
restructure(train).head(3)

                                 Title  ...                Category2
0  THE PRISONER'S GOLD (THE HUNTERS 3)  ...                     NONE
1   GURU DUTT: A TRAGEDY IN THREE ACTS  ...  DIARIES & TRUE ACCOUNTS
2         LEVIATHAN (PENGUIN CLASSICS)  ...                     NONE

[3 rows x 17 columns]

In [22]:
X_train = restructure(train)

Y_train = train.iloc[:, -1].values

X_test = restructure(test)

In [23]:

X_train.describe(include = 'all')

                                          Title  ... Category2
count                                      6237  ...      6237
unique                                     5564  ...         6
top     CASINO ROYALE: JAMES BOND 007 (VINTAGE)  ...      NONE
freq                                          4  ...      3297
mean                                        NaN  ...       NaN
std                                         NaN  ...       NaN
min                                         NaN  ...       NaN
25%                                         NaN  ...       NaN
50%                                         NaN  ...       NaN
75%                                         NaN  ...       NaN
max                                         NaN  ...       NaN

[11 rows x 17 columns]

In [24]:

X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6237 entries, 0 to 6236
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          6237 non-null   object
 1   Author1        6237 non-null   object
 2   Author2        6237 non-null   object
 3   Author3        6237 non-null   object
 4   Author4        6237 non-null   object
 5   Author5        6237 non-null   object
 6   Author6        6237 non-null   object
 7   Author7        6237 non-null   object
 8   Edition_Type   6237 non-null   object
 9   Edition_Month  6237 non-null   object
 10  Edition_Year   6237 non-null   int64
 11  Ratings        6237 non-null   float64
 12  Reviews        6237 non-null   int64
 13  Genre1         6237 non-null   object
 14  Genre2         6237 non-null   object
 15  Category1      6237 non-null   object
 16  Category2      6237 non-null   object
dtypes: float64(1), int64(2), object(14)
memory usage: 828.5+ KB

In [25]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          1560 non-null   object
 1   Author1        1560 non-null   object
 2   Author2        1560 non-null   object
 3   Author3        1560 non-null   object
 4   Author4        1560 non-null   object
 5   Author5        1560 non-null   object
 6   Author6        1560 non-null   object
 7   Author7        1560 non-null   object
 8   Edition_Type   1560 non-null   object
 9   Edition_Month  1560 non-null   object
 10  Edition_Year   1560 non-null   int64
 11  Ratings        1560 non-null   float64
 12  Reviews        1560 non-null   int64
 13  Genre1         1560 non-null   object
 14  Genre2         1560 non-null   object
 15  Category1      1560 non-null   object
 16  Category2      1560 non-null   object
dtypes: float64(1), int64(2), object(14)
memory usage: 207.3+ KB

In [26]:

# A method for Finding Unique items for all columns
def unique_items(list1, list2):
  a = list1
  b = list2
  a.extend(b)
  return list(set(a))

In [27]:
from sklearn.preprocessing import LabelEncoder

le_Title = LabelEncoder()
all_titles = unique_items(list(X_train.Title),list(X_test.Title))
le_Title.fit(all_titles)

le_Edition_Type = LabelEncoder()
all_etypes = unique_items(list(X_train.Edition_Type),list(X_test.Edition_Type))
le_Edition_Type.fit(all_etypes)


le_Edition_Month = LabelEncoder()
all_em = unique_items(list(X_train.Edition_Month),list(X_test.Edition_Month))
le_Edition_Month.fit(all_em)

le_Author = LabelEncoder()
all_Authors = list(set(all_authors))
le_Author.fit(all_Authors)

le_Genre = LabelEncoder()
all_Genres = list(set(all_genres))
le_Genre.fit(all_Genres)

le_Category = LabelEncoder()
all_Categories = list(set(all_categories))
le_Category.fit(all_Categories)

LabelEncoder()

In [28]:
X_train['Title'] = le_Title.transform(X_train['Title'])

X_train['Edition_Type'] = le_Edition_Type.transform(X_train['Edition_Type'])



X_train['Edition_Month'] = le_Edition_Month.transform(X_train['Edition_Month'])

X_train['Author1'] = le_Author.transform(X_train['Author1'])
X_train['Author2'] = le_Author.transform(X_train['Author2'])
X_train['Author3'] = le_Author.transform(X_train['Author3'])
X_train['Author4'] = le_Author.transform(X_train['Author4'])
X_train['Author5'] = le_Author.transform(X_train['Author5'])
X_train['Author6'] = le_Author.transform(X_train['Author6'])
X_train['Author7'] = le_Author.transform(X_train['Author7'])


X_train['Genre1'] = le_Genre.transform(X_train['Genre1'])
X_train['Genre2'] = le_Genre.transform(X_train['Genre2'])


X_train['Category1'] = le_Category.transform(X_train['Category1'])
X_train['Category2'] = le_Category.transform(X_train['Category2'])

In [29]:
X_train.head()

   Title  Author1  Author2  Author3  ...  Genre1  Genre2  Category1  Category2
0   5802      797     3073     3073  ...       0     267          0         12
1   2120      391     3073     3073  ...      80     267          2          6
2   2984     4353     3073     3073  ...     211     267          8         12
3    189       78     3073     3073  ...      98     267          5         16
4   2987     1221     3073     3073  ...     284     267          1          7

[5 rows x 17 columns]

In [30]:
X_test['Title'] = le_Title.transform(X_test['Title'])

X_test['Edition_Type'] = le_Edition_Type.transform(X_test['Edition_Type'])



X_test['Edition_Month'] = le_Edition_Month.transform(X_test['Edition_Month'])

X_test['Author1'] = le_Author.transform(X_test['Author1'])
X_test['Author2'] = le_Author.transform(X_test['Author2'])
X_test['Author3'] = le_Author.transform(X_test['Author3'])
X_test['Author4'] = le_Author.transform(X_test['Author4'])
X_test['Author5'] = le_Author.transform(X_test['Author5'])
X_test['Author6'] = le_Author.transform(X_test['Author6'])
X_test['Author7'] = le_Author.transform(X_test['Author7'])


X_test['Genre1'] = le_Genre.transform(X_test['Genre1'])
X_test['Genre2'] = le_Genre.transform(X_test['Genre2'])


X_test['Category1'] = le_Category.transform(X_test['Category1'])
X_test['Category2'] = le_Category.transform(X_test['Category2'])

In [31]:
X_test.head()

   Title  Author1  Author2  Author3  ...  Genre1  Genre2  Category1  Category2
0   5082     4058     3073     3073  ...     324     267          5         16
1   2906     1401     3073     3073  ...     273     267          4          9
2    751      949     3073     3073  ...     314     267         14         12
3   6232      169     3073     3073  ...     295     267          4          9
4   3790     3505     3073     3073  ...     235     267         10         11

[5 rows x 17 columns]

In [32]:
# Feature Scaling

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

X_train = sc.fit_transform(X_train)

X_test = sc.transform(X_test)

#Reshaping ti fit the scaler
Y_train = Y_train.reshape((len(Y_train), 1)) 

Y_train = sc.fit_transform(Y_train)

#Restoring the original shape after scaling
Y_train = Y_train.ravel()

In [33]:
X_train.shape #SC

(6237, 17)

In [34]:
Y_train.shape #SC

(6237,)

In [35]:

X_train

array([[ 1.22489462, -1.11014305,  0.10361038, ..., -0.04054244,
        -1.21387465,  0.3167796 ],
       [-0.64983923, -1.40876249,  0.10361038, ..., -0.04054244,
        -0.82060991, -1.88135243],
       [-0.20992341,  1.50535127,  0.10361038, ..., -0.04054244,
         0.35918432,  0.3167796 ],
       ...,
       [ 0.91379674, -0.11278358,  0.10361038, ..., -0.04054244,
         1.53897855,  0.3167796 ],
       [-0.75676322, -1.56395633,  0.10361038, ..., -0.04054244,
        -1.21387465,  0.3167796 ],
       [ 0.95096556, -0.2951915 ,  0.10361038, ..., -0.04054244,
        -1.21387465,  0.3167796 ]])

In [36]:
X_test

array([[ 0.8582981 ,  1.2883741 ,  0.10361038, ..., -0.04054244,
        -0.23071279,  1.78220095],
       [-0.24963804, -0.66589149,  0.10361038, ..., -0.04054244,
        -0.42734517, -0.78228642],
       [-1.34688178, -0.99834465,  0.10361038, ..., -0.04054244,
         1.53897855,  0.3167796 ],
       ...,
       [ 1.06145367,  0.00342793,  0.10361038, ..., -0.04054244,
         0.35918432,  0.3167796 ],
       [ 0.20911677, -0.49672284,  0.10361038, ..., -0.04054244,
        -0.82060991, -1.88135243],
       [-1.15085447, -1.35139225,  0.10361038, ..., -0.04054244,
         0.75244907, -0.04957574]])

In [37]:
from sklearn.model_selection import train_test_split

train_x, val_x, train_y, val_y = train_test_split(X_train, Y_train, test_size = 0.1, random_state = 123)

In [38]:
print(train_x.shape)
print(train_y.shape)
print(val_x.shape)
print(val_y.shape)

(5613, 17)
(5613,)
(624, 17)
(624,)

In [39]:
from xgboost import XGBRegressor
import numpy as np

xgb=XGBRegressor( objective='reg:squarederror', max_depth=6, learning_rate=0.1, n_estimators=100, booster = 'gbtree', n_jobs = -1,random_state = 1)
xgb.fit(train_x,train_y)

y_pred = sc.inverse_transform(xgb.predict(val_x))
y_true = sc.inverse_transform(val_y)

error = np.square(np.log10(y_pred +1) - np.log10(y_true +1)).mean() ** 0.5
score = 1 - error

print("RMLSE Score = ", score)

RMLSE Score =  0.7163958922112829

In [40]:

xgb.fit(X_train,Y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=6, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=-1, nthread=None, objective='reg:squarederror',
             random_state=1, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             seed=None, silent=None, subsample=1, verbosity=1)

In [41]:


y_pred_xgb = sc.inverse_transform(xgb.predict(X_test))

In [42]:


solution = pd.DataFrame(y_pred_xgb, columns = ['Price'])
solution.to_excel('Predict_Book_Price_Soln.xlsx', index = False)

In [43]:
solution.head(10)

         Price
0   214.681122
1  1330.917114
2   624.322449
3   844.769043
4   425.502533
5   890.277893
6   956.208252
7   339.453979
8   558.580017
9   467.108673

In [44]:
!pip install bayesian-optimization

Collecting bayesian-optimization
  Downloading https://files.pythonhosted.org/packages/bb/7a/fd8059a3881d3ab37ac8f72f56b73937a14e8bb14a9733e68cc8b17dbe3c/bayesian-optimization-1.2.0.tar.gz
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from bayesian-optimization) (1.18.5)
Requirement already satisfied: scipy>=0.14.0 in /usr/local/lib/python3.6/dist-packages (from bayesian-optimization) (1.4.1)
Requirement already satisfied: scikit-learn>=0.18.0 in /usr/local/lib/python3.6/dist-packages (from bayesian-optimization) (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.18.0->bayesian-optimization) (0.17.0)
Building wheels for collected packages: bayesian-optimization
  Building wheel for bayesian-optimization (setup.py) ... done
  Created wheel for bayesian-optimization: filename=bayesian_optimization-1.2.0-cp36-none-any.whl size=11685 sha256=81fda9a2c101a7e950c41e8fd0da02aaed4ab6c14171ccf984449c1ef580e0bf
  Stored in directory: /root/.cache/pip/wheels/5a/56/ae/e0e3c1fc1954dc3ec712e2df547235ed072b448094d8f94aec
Successfully built bayesian-optimization
Installing collected packages: bayesian-optimization
Successfully installed bayesian-optimization-1.2.0

In [45]:

from bayes_opt import BayesianOptimization
import xgboost as xgb

In [46]:
dtrain = xgb.DMatrix(X_train, label= Y_train)

In [47]:
def bo_tune_xgb(max_depth, gamma, n_estimators ,learning_rate):
    params = {'max_depth': int(max_depth),
              'gamma': gamma,      
              'n_estimators': int(n_estimators),
              'learning_rate':learning_rate,
              'subsample': 0.8,
              'eta': 0.1,
              'eval_metric': 'rmse'}
    
    
    cv_result = xgb.cv(params, dtrain, num_boost_round=100, nfold=10)    
    
    return -1.0 * cv_result['test-rmse-mean'].iloc[-1]

In [48]:
xgb_bo = BayesianOptimization(bo_tune_xgb, {'max_depth': (1, 300), 
                                             'gamma': (0, 1),
                                             'learning_rate':(0,1),
                                             'n_estimators':(1,1000)
                                            })


xgb_bo.maximize(n_iter=10, init_points=10, acq='ei')

|   iter    |  target   |   gamma   | learni... | max_depth | n_esti... |
-------------------------------------------------------------------------
|  1        | -0.9084   |  0.3332   |  0.0365   |  260.6    |  41.46    |
|  2        | -0.9061   |  0.8987   |  0.03691  |  41.48    |  773.1    |
|  3        | -1.082    |  0.4463   |  0.7994   |  174.7    |  660.8    |
|  4        | -1.083    |  0.8653   |  0.9134   |  125.6    |  866.2    |
|  5        | -0.9169   |  0.866    |  0.1177   |  23.87    |  787.7    |
|  6        | -1.037    |  0.6798   |  0.6518   |  203.5    |  679.1    |
|  7        | -1.022    |  0.9352   |  0.637    |  52.0     |  448.6    |
|  8        | -0.9742   |  0.6259   |  0.3778   |  71.85    |  480.4    |
|  9        | -1.028    |  0.323    |  0.5646   |  54.58    |  431.6    |
|  10       | -1.023    |  0.1637   |  0.5179   |  10.97    |  388.2    |
|  11       | -1.094    |  0.4958   |  0.8568   |  260.7    |  39.67    |
|  12       | -1.112    |  0.0      |  0.0      |  259.5    |  57.82    |
|  13       | -1.138    |  0.02714  |  0.9737   |  14.44    |  756.2    |
|  14       | -0.9102   |  0.7929   |  0.05098  |  52.22    |  801.8    |
|  15       | -1.003    |  0.7121   |  0.5311   |  74.32    |  775.7    |
|  16       | -1.112    |  0.03119  |  0.0      |  24.4     |  823.8    |
|  17       | -0.9156   |  1.0      |  0.0669   |  83.24    |  821.2    |
|  18       | -0.9689   |  0.3936   |  0.303    |  116.4    |  802.9    |
|  19       | -1.052    |  0.1784   |  0.6453   |  71.88    |  859.7    |
|  20       | -1.068    |  0.8542   |  0.7529   |  99.87    |  518.4    |
=========================================================================

In [49]:

params = xgb_bo.max['params']

print(params)

params['max_depth']= int(round(params['max_depth']))
params['n_estimators']= int(round(params['n_estimators']))

print(params)

from xgboost import XGBRegressor
reg = XGBRegressor(**params).fit(X_train,Y_train)

y_pred_reg = sc.inverse_transform(reg.predict(X_test))

{'gamma': 0.8986693040529077, 'learning_rate': 0.03690846867725417, 'max_depth': 41.480296714500064, 'n_estimators': 773.0508296369364}
{'gamma': 0.8986693040529077, 'learning_rate': 0.03690846867725417, 'max_depth': 41, 'n_estimators': 773}
[12:41:29] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [50]:
solution_bo = pd.DataFrame(y_pred_reg, columns = ['Price'])

solution_bo.head(10)

         Price
0   234.013641
1  1729.604614
2   393.672333
3   890.626160
4   323.397644
5   576.507446
6   643.358765
7   329.986450
8   435.777191
9   379.410645

In [51]:

solution_bo.to_excel('Last Soln.xlsx', index = False)